<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
</head>
<body>
    <h2>{{ ticket.title }}</h2>
    <p>{{ ticket.ticket_type }}</p>
    <p>{{ ticket.created_date }}</p>
    <p>{{ ticket.description }}</p>
    <a href="{% url 'tickets_list' %}">back to main page</a>
    <a href="{% url 'edit_ticket' pk=ticket.pk %}"><button>Edit</button></a>
    <a href="{% url 'add_comment' pk=ticket.pk %}"><button>Add comment</button></a>
    {% for comment in ticket.comments.all %}
    <p><span>{{ comment.comment_author }}: </span>{{ comment }}</p>
    {% empty %}
    <p>No comments here yet</p>
    {% endfor %}
</body>
</html>