{% extends 'tickets/base.html' %}
{% block title %}Tickets{% endblock title %}
{% block content %}
    <h2>bugs</h2>
    {% for bug in bugs %}
    <h2>{{ bug.title }}</h2>
    <p>{{ bug.get_ticket_type_display }}</p>
    <p>{{ bug.get_ticket_status_display }}</p>
    <a href="{% url 'ticket_detail' pk=bug.pk%}">show details</a>
    {% empty %}
    <h2>No bugs raised at the moment</h2>
    {% endfor %}
    <h2>features</h2>
    {% for feature in features %}
    <h2>{{ feature.title }}</h2>
    <p>{{ feature.get_ticket_type_display }}</p>
    <p>{{ feature.get_ticket_status_display }}</p>
    <a href="{% url 'ticket_detail' pk=feature.pk%}">show details</a>
    {% empty %}
    <h2>No features to work on at the moment</h2>
    {% endfor %}
    <div>
    <a href="{% url 'ticket_new' %}">create new ticket</a>
</div>
{% endblock %}