html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #444;
    font-family: 'Montserrat';
    font-size: 0.875rem;
    font-weight: 500;
}

/* Navigation -------------------*/


.nav-wrapper {
    background: #0af;
}

.navbar {
    padding: 0.5rem 0;
    color: #fff;
}

.navbar-brand.logo-font {
    color: #fff;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #ccc;
}

.new-ticket {
    border-radius: 20px;
    padding: 8px 16px;
    background: transparent;
    border: 2px solid #0af;
    color: #0af;
    font-weight: 500;
    text-transform: uppercase;
    position: fixed;
    bottom: 60px;
    right: 60px;
    z-index: 10000;
    transition: 0.3s;
}

.new-ticket:hover {
    background: #0af;
    color: #fff;
}

/* Helper classes ---------------*/

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}

.message-text {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success {
    background: green;
    color: #fff
}

.warning {
    background: red;
    color: #fff;
}

.asteriskField {
    display: none;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-weight: 500;
}

.main-logo-link {
    width: fit-content;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* ---------------------------- Media Queries */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 164px;
    }
}

@media (min-width: 400px) {
    .header-container {
        padding-top: 128px;
    }  
}

