<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Tickets
            </a>
            <div class="dropdown-menu border-0" aria-labelled-by="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Date Ceated</a>
                <a href="" class="dropdown-item">By Number of Votes (bugs only)</a>
                <a href="" class="dropdown-item">By Amount (features only)</a>
            </div>
        </li>
    </ul>
</div>