{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col border rounded shadow p-3">
            <p>User name: {{ user.username }}</p>
            <p>email address: {{ user.email }}</p>
            <hr>
            <p>Below you can check the statuses of your tickets</p>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Ticket title</th>
                    <th scope="col">Ticket type</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                  <tr>
                    <td><a href="{% url 'ticket_detail' %}">{{ ticket.title }}</a></td>
                    <td>{{ ticket.get_ticket_type_display }}</td>
                    <td>{{ ticket.get_ticket_status_display }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>


{% endblock %}