{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col border rounded shadow p-3">
            {% for ticket in tickets %}
                {% if ticket.ticket_status == "C" %}
                    <p>{{ ticket.title }}</p>
                    <p>{{ ticket.description }}</p>
                {% endif %}
            {% empty %}
                <p>Nothing's here</p>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}