{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Tickets{% endblock title %}
{% block content %}
<div class="container px-sm-0 px-md-3">
    <div class="row my-4 mx-1 border rounded">
        <div class="col-md-12 p-sm-0 p-md-3">
            <h2 class="py-2">Bugs</h2>
            <form class="border p-3 mb-3 rounded shadow" action="{% url 'bugs_list' %}" method="GET">
                {{ form|crispy }}
                <input type="submit">
            </form>
                {% for bug in bugs_list %}  
                <div class="card mb-3 shadow w-100">
                    <h5 class="card-header">{{ bug.title|truncatewords:8 }}</h5>
                  <div class="card-body">
                    <p class="small card-text">Status: <strong>{{ bug.get_ticket_status_display}}</strong> | Date created:
                        <strong>{{ bug.created_date }}</strong> | Votes: <strong>{{ bug.total_votes }}</strong></p>
                    <p class="small card-text">Description: {{ bug.description|truncatewords:8 }}</p>
                    <a href="{% url 'ticket_detail' pk=bug.pk%}"><button class="btn btn-sm btn-info float-right"><i
                        class="far fa-file-alt pr-2"></i>Show details</button></a>
                  </div>
                </div>
                {% empty %}
            
            <div class="col-md-6">
                <p>no tickets</p>
            </div>
            {% endfor %}
        </div>
        {% endblock %}