{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Tickets{% endblock title %}
{% block content %}
<div class="container px-0 px-md-3">
    <div class="row my-4 mx-1 border rounded">
        <div class="col-md-12 p-sm-0 p-md-3">
            <h2 class="py-2">Features</h2>
            <form class="border p-3 mb-3 rounded shadow" action="" method="GET">
                {{ form|crispy }}
                <button class="btn btn-sm btn-info" type="submit">Submit</button>
            </form>
            {% for feature in features_list %}
                    <div class="card mb-3 shadow">
                        <h5 class="card-header">{{ feature.title|truncatewords:3 }}</h5>
                      <div class="card-body">
                        <p class="small card-text">Status: <strong>{{ feature.get_ticket_status_display}}</strong> | Date created:
                            <strong>{{ feature.created_date }}</strong> | Payments: <strong>{% if feature.payments_sum == None %} €0.00 {% else %} €{{ feature.payments_sum|floatformat:2 }}{% endif %}</strong></p>
                        <p class="small card-text">Description: {{ feature.description|truncatewords:8 }}</p>
                        <a href="{% url 'ticket_detail' pk=feature.pk%}"><button class="btn btn-sm btn-info float-right"><i
                            class="far fa-file-alt pr-2"></i>Show details</button></a>
                      </div>
                    </div>
                {% empty %}
                <div class="col-md-6">
                    <p>no tickets</p>
                </div>
            {% endfor %}
        </div>
        {% endblock %}