{% extends 'base.html' %}
{% load static %}
{% block title %}Tickets{% endblock title %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mb-2">
        {% for ticket in tickets %}
        {% if ticket.ticket_type == 'bug' %}
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hiddem flex-md-row mb-4 shadow-sm h-md-250 position-relative">                
                <div class="col p-4 d-flex flex-column position-static shadow">
                    <h3>{{ ticket.title }}</h3>
                    <p class="small mb-2">Ticket type: <strong>{{ ticket.get_ticket_type_display }}</strong> | Ticket status: <strong>{{ ticket.get_ticket_status_display}}</strong> | Date created: <strong>{{ ticket.created_date }}</strong></p>
                    <p class="small">Description: {{ ticket.description|truncatewords:8 }}</p>
                    <div class="d-flex flex-row align-items-baseline">
                    <a class="mr-2" href="{% url 'ticket_detail' pk=ticket.pk%}"><button class="btn btn-sm btn-info"><i class="far fa-file-alt pr-2"></i>Show details</button></a>
                    <a class="mr-2" href="#"><button class="btn btn-sm btn-danger"><i class="fas fa-vote-yea pr-2"></i>I have this too!</button></a>
                    <p class="small mb-0">Votes: 25</p>
                </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% empty %}
        <p>no tickets</p>
        {% endfor %}
        {% for ticket in tickets %}
        {% if ticket.ticket_type == 'feature' %}
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hiddem flex-md-row mb-4 shadow-sm h-md-250 position-relative">                
                <div class="col p-4 d-flex flex-column position-static">
                    <h2>{{ ticket.title }}</h2>
                    <p>{{ ticket.get_ticket_status_display}}</p>
                    <p>{{ ticket.created_date }}</p>
                    <p>{{ ticket.get_ticket_type_display }}</p>
                    <a href="{% url 'ticket_detail' pk=ticket.pk%}"><button class="btn btn-info">Show details</button></a>
                </div>
            </div>
        </div>
        {% endif %}
        {% empty %}
        <p>no tickets</p>
        {% endfor %}
    </div>
</div>
{% endblock %}