{% extends 'base.html' %}
{% load static %}
{% block title %}Tickets{% endblock title %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12 test">
        {% for ticket in tickets %}
        {% if ticket.ticket_type == 'bug' %}
        <h2>{{ ticket.title }}</h2>
        <p>{{ ticket.get_ticket_status_display}}</p>
        <p>{{ ticket.get_ticket_type_display }}</p>
        <a href="{% url 'ticket_detail' pk=ticket.pk%}"><button>show details</button></a>
        {% endif %}
        {% empty %}
        <p>no tickets</p>
        {% endfor %}
    </div>
    <div class="col-lg-6 col-md-12 test">
        {% for ticket in tickets %}
        {% if ticket.ticket_type == 'feature' %}
        <h2>{{ ticket.title }}</h2>
        <p>{{ ticket.get_ticket_status_display}}</p>
        <p>{{ ticket.get_ticket_type_display }}</p>
        <a href="{% url 'ticket_detail' pk=ticket.pk%}"><button>show details</button></a>
        {% endif %}
        {% empty %}
        <p>no tickets</p>
        {% endfor %}
    </div>
        <div class="row">
        <div class="pagination">
            <ul>
                {% if tickets.has_previous %}
                <li><a href="?page={{ tickets.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% for pg in tickets.paginator.page_range %}
                {% if tickets.number == pg %}
                <li class="active"><a href="?page={{ pg }}">{{ pg }}</a>></a></li>
                {% else %}
                <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                {% endif %}
                {% endfor %}
                {% if tickets.has_next %}
                <li><a href="?page={{ tickets.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
        <a href="{% url 'ticket_new' %}">create new ticket</a>
</div>
{% endblock %}